body {
  text-align: center;
  background-color: rgb(198, 159, 235);
  margin: 50px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #048069;
  }

  p {
    font-family: 'Fira Sans', sans-serif;
    color: #048069;
  }

  a {
    color: red;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  #todays-learning {
    color: purple;
    font-weight: bold;
    font-size: 52px;
  }