body {
    text-align: center;
    background-color: teal;
    margin: 60px;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    font-size: 70px;
}

p {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: chartreuse;
font-size: 30px;
}
    a {
        font-family: 'Oswald', sans-serif;
        color: purple;
        text-decoration: none;
    }