body {
    text-align: center;
    background-color:rgb(187, 162, 211);
}
h1 {
    font-family: 'Oswald', sans-serif;
    color: red;
    font-size: 70px;
}

p {
font-family: 'Fira Sans', sans-serif;
color: chartreuse;
font-size: 30px;
font-weight: bold;
}

a {
    color: red;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
    
